<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestSize="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Awful Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

	<filter>
    	<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">src</directory>

			<exclude>
			    <file>src/Router.php</file>
            	<file>src/Models/Network.php</file>
            	<directory suffix=".php">src/Utilities</directory>
            	<directory suffix=".php">src/Templates</directory>
            	<directory suffix=".php">src/Context</directory>
            	<file>src/render.php</file>
            	<file>src/awful-bootstrap.php</file>
			</exclude>
  		</whitelist>
	</filter>

	<!--
	<logging>
		<log
			type="coverage-html"
			target="/tmp/report.html"
		/>
	</logging>
	-->
</phpunit>
